.search_grid{
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 80px;
    padding-bottom: 50px;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .search_grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .search_grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .search_grid { grid-template-columns: repeat(4, 1fr); }
}
